.album-item-youkoso-jitsuryoku {
    width: 150px;
    height: 90px;
    background-image: url(../footage/66666/Anime_Series_End_Card.jpg);
    background-size: cover;
    background-position: center;
  }
  
  
  .album-item-youkoso-jitsuryoku .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .album-item-youkoso-jitsuryoku .overlay img {
    transform: scale(0.8);
    transition: all 0.3s;
  }
  
  .album-item-youkoso-jitsuryoku:hover .overlay {
    opacity: 1;
  }
  .album-item-youkoso-jitsuryoku:hover .overlay img {
    transform: scale(1);
  }
  
  .paragraph-1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 20px;  
  }
  
  #idv1 a:hover {
    text-decoration: none;
  }
  